<app-admin-layout
  ><main class="flex-1 bg-gray-100 p-4 md:p-6">
    <div class="mx-auto w-full">
      <div
        *ngIf="personas.length > 0; else noRecords"
        class="overflow-x-auto mt-4 w-full"
      >
        <table class="table-auto border-collapse rounded-md bg-slate-200">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Nombre
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Apellido
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Cédula
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Correo
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Teléfono
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Dirección
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Estado
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Ciudad
              </th>
              <th class="px-4 py-3 text-left font-medium text-gray-700">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let persona of personas; let i = index">
              <td class="px-4 py-3 text-black">{{ persona.nombre }}</td>
              <td class="px-4 py-3 text-black">{{ persona.apellido }}</td>
              <td class="px-4 py-3 text-black">{{ persona.cedula }}</td>
              <td class="px-4 py-3 text-black">{{ persona.correo }}</td>
              <td class="px-4 py-3 text-black">{{ persona.telefono }}</td>
              <td class="px-4 py-3 text-black">{{ persona.direccion }}</td>
              <td class="px-4 py-3 text-black">{{ persona.estado }}</td>
              <td class="px-4 py-3 text-black">{{ persona.ciudad }}</td>
              <td class="px-4 py-3 text-black">
                <div class="flex items-center space-x-2">
                  <a
                    class="px-2 py-1 text-sm font-medium text-white bg-gray-700 border rounded hover:bg-green-500"
                    [routerLink]="['/usercreate', persona.id, 'editar']"
                  >
                    Editar
                  </a>
                  <button
                    class="px-2 py-1 text-sm font-medium text-white bg-gray-700 border rounded hover:bg-red-500"
                    (click)="deletePersona(persona.id)"
                  >
                    Eliminar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noRecords>
        <div>
          <p class="text-2xl font-medium text-gray-700">
            No hay registros para mostrar
          </p>
        </div>
        <div class="flex items-center justify-center mt-4">
          <a
            class="px-5 py-5 text-2xl rounded-lg font-medium text-white bg-gray-700 border hover:bg-gray-500"
            [routerLink]="['/usercreate']"
          >
            Agregar registro
          </a>
        </div>
      </ng-template>
    </div>
  </main>
</app-admin-layout>
