<header [ngStyle]="{'color': primaryColor}" class="sticky top-0 z-50 bg-white shadow-sm">
  <div class="container mx-auto flex h-16 max-w-7xl items-center justify-between px-4 md:px-6">
    <a class="flex items-center" routerLink="/">
      <span class="ml-2 text-lg font-semibold">Acme Inc</span>
    </a>
    <nav class="hidden space-x-4 md:flex items-center">
      <ng-container *ngIf="!isVideosPage(); else videoMenu">
        <a class="hover:text-gray-900" routerLink="/">Features</a>
        <a class="hover:text-gray-900" routerLink="/">Pricing</a>
        <a class="hover:text-gray-900" routerLink="/">About</a>
        <a class="hover:text-gray-900" routerLink="/">Contact</a>
        <a class="hover:text-gray-900" routerLink="/videos">Videos</a>
      </ng-container>
      <ng-template #videoMenu>
        <a class="hover:text-gray-900" routerLink="/" [routerLinkActive]="['active']">Home</a>
        <a class="hover:text-gray-900" routerLink="/videos" [routerLinkActive]="['active']">Mas videos</a>
        <a class="btn btn-primary flex items-center space-x-2" routerLink="/videos/subir" [routerLinkActive]="['active']">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-monitor-up"><path d="m9 10 3-3 3 3"/><path d="M12 13V7"/><rect width="20" height="14" x="2" y="3" rx="2"/><path d="M12 17v4"/><path d="M8 21h8"/></svg>
          <span>Subir un video</span>
        </a>
      </ng-template>
    </nav>
    <div class="flex items-center space-x-4" *ngIf="!isAuthenticated()">
      <a
        class="rounded-md px-4 py-2 text-sm font-medium text-white hover:bg-gray-800"
        routerLink="/login"
        [ngStyle]="{'background-color': secondaryColor}"
      >Login</a>
      <a
        class="rounded-md px-4 py-2 text-sm font-medium text-white hover:bg-gray-800"
        routerLink="/register"
        [ngStyle]="{'background-color': secondaryColor}"
      >Sign Up</a>
    </div>
    <div class="flex items-center space-x-4" *ngIf="isAuthenticated()">
      <a
        class="rounded-md px-4 py-2 text-sm font-medium text-white hover:bg-gray-800"
        routerLink="/profile"
        [ngStyle]="{'background-color': secondaryColor}"
      >Perfil</a>
      <a
        (click)="logout()"
        class="rounded-md px-4 py-2 text-sm font-medium text-white hover:bg-gray-800"
        routerLink="/login"
        [ngStyle]="{'background-color': secondaryColor}"
      >Log out</a>
      <a
        *ngIf="isAdmin()"
        class="rounded-md px-4 py-2 text-sm font-medium text-white hover:bg-gray-800"
        routerLink="/userlist"
        [ngStyle]="{'background-color': secondaryColor}"
      >Admin Dashboard</a>
    </div>
  </div>
</header>
