<app-admin-layout
  ><main class="flex-1 bg-gray-100 p-4 md:p-6">
    <!-- theme-settings.component.html -->
    <div class="w-1/3 mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-6 text-center">Theme Settings</h2>
      <div class="grid grid-cols-2 gap-4 mb-6">
        <div
          *ngFor="let palette of palettes | keyvalue"
          class="border rounded-lg p-2 cursor-pointer transform transition-transform hover:scale-105"
          (click)="saveTheme(palette.key)"
        >
          <img
            [src]="'/assets/' + palette.key + '.png'"
            alt="{{ palette.key }} preview"
            class="w-full h-32 object-cover rounded-md"
          />
          <div
            class="mt-2 text-center"
            [ngStyle]="{
              'background-color': palette.value.backgroundColor,
              color: palette.value.primaryColor,
              border: '2px solid ' + palette.value.secondaryColor
            }"
          >
            {{ palette.key | titlecase }}
          </div>
        </div>
      </div>
    </div>
  </main></app-admin-layout
>
